@use "./assets/Vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: var(--text);
    font-size: 1,42rem;
    font-weight: normal;
    letter-spacing: -0.15ch;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading);
}
img{
    display: block;
    width: 100%;
}
ul[class]{
    list-style:none;
}
.wrapper{
    padding-inline: 1rem;
    max-width:1790px;
    margin-inline:auto;
}
.light-background{
    position:absolute;
    width: 400px;
    aspect-ratio: 1;
    background: radial-gradient(#ffffff99 0%, transparent 50%);
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    // opacity: 0.6;
    mix-blend-mode: overlay;
    z-index: 100;
    pointer-events: none;
    z-index: 999999999999;
}



#main-header{
    position:absolute;
    width:100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
    overflow: hidden;
    .wrapper{
        display: flex;
        align-items:center;
        justify-content:space-between;
        .main-nav{
            position:absolute;
            top: 10svh;
            background-color: var(--light-200);
            width: 80svw;
            right: -110%;
            opacity: 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding-block: 0.5rem;
            transition: all 0.5s ease-in-out;
            a{
                font-size: 2rem;
                font-weight: 900;
                font-family: var(--heading);
                text-decoration: none;
                color:var(--light-300);
                text-transform: uppercase;
                padding-block: 0.2rem;
                display: block;
                transition: all 0.5s;
            }
        }
        .burger-container{
            position:relative;
            width: 20px;
            height:20px;
            margin-inline-start:auto;
            pointer-events: auto;
            span{
                position:absolute;
                width: 50%;
                height: 2px;
                right:0;
                background-color:var(--sub-200);
                display: block;
                transform-origin: 9px;
                
                &:nth-of-type(2){
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80%;
                }
                &:nth-of-type(3){
                    bottom: 0;
                    width:100%;
                }
            }
        }

        .lang-container{
            position:fixed;
            left: 0;
            bottom: 0;
            border: 1px solid var(--light-200);
            border-radius: 5px;
            display: flex;
            flex-direction:row-reverse;
            justify-content: center;
            align-items:center;
            padding: 3px;
            gap: 5px;
            .lang-item{
                display: none;
            }
            .lang-item.current{
                display: block;
            }
            svg{
                width: 15px;
                rotate: 180deg;
                transition: all 0.5s;
               path{
                    fill: var(--light-300) !important;
               }
            }
        }
    }
}

//Burger Menu Stat
body{
    &::after{
        content:"";
        z-index: 100;
        background: linear-gradient(to top, #000000e8 20%, transparent);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
    }
}
body[data-menu="menu-open"]{
   &::after{
    opacity: 1;
   }
    #main-header{
        .main-nav{
            opacity: 1;
            pointer-events: auto;
            right: 0;
            box-shadow: -10px 10px 0 10px var(--light-300);
            transform: rotate3d(0.2, 0.1, 0.1, 358deg);
        }
        .burger-container{
            span{
                width: 100%;
                transition: all 0.3s;
                &:nth-of-type(1){
                    width: 100%;
                    top: 50%;
                    transform:translateY(-50%);
                    rotate: -45deg;
                }
                &:nth-of-type(2){
                    width: 0;
                    opacity: 0;
                }
                &:nth-of-type(3){
                    width: 100%;
                    bottom: 50%;
                    transform:translateY(-50%);
                    rotate:45deg;
                }
            }
        }
    }
}

#hero-section{
    background: rgb(238,238,238);
    background: -moz-radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(168,168,168,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(168,168,168,1) 100%);
    background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(168,168,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#a8a8a8",GradientType=1);
    position:relative;
    overflow: hidden;
    
    
    .wrapper{
        min-height: 100svh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 0;
        .media{
            position: absolute;
            bottom: 0;
            left: 0;
            img{
                filter:drop-shadow(10px 5px 10px #00000050);
            }
        }
        .hero-heading{
            text-align: center;
            .top{
                font-size: 18px;
            }
            .main{
                font-weight: 900;
                display: block;
                text-transform: uppercase;
                color: var(--sub-100);
                font-size:2.5rem;
                word-break: break-all;
                width: 100%;
            }
        }
    }

    .tools-container{
        z-index: 50;
        // position:absolute;
        li{
            position: absolute;
            list-style: none;
            width:40px;
            //Photoshop
            transition: all 0.3s;
            
            &:nth-of-type(1){
                bottom: 15svh;
                right:10svw;
                rotate:-45deg;
                scale: 1;
                // filter:blur(2px) drop-shadow(-40px 20px 3px #00000030);
            }
            //AI
            &:nth-of-type(2){
                bottom: 10svh;
                left:10svw;
                rotate:10deg;
                scale: 2;
                // filter:blur(2.2px) drop-shadow(50px 20px 3px #00000030);
            }
            //XD
            &:nth-of-type(3){
                bottom: 25svh;
                left:5svw;
                rotate:-25deg;
                scale: 1.5;
                // filter:blur(1.2px) drop-shadow(20px 10px 3px #00000030);
            }
            //id
            &:nth-of-type(4){
                bottom: -2svh;
                left:50svw;
                rotate:25deg;
                scale: 1.6;
                // filter:blur(1.5px) drop-shadow(30px 20px 3px #00000030);
            }
            //html
            &:nth-of-type(5){
                bottom: 0;
                right:10svw;
                rotate:15deg;
                scale: 1;
                // filter:blur(2px) drop-shadow(30px 20px 3px #00000030);
            }
            //css
            &:nth-of-type(6){
                top: 55svh;
                left:45svw;
                rotate:-40deg;
                scale: 1;
                // filter:blur(.8px) drop-shadow(20px 20px 4px #00000030);
            }
            //js
            &:nth-of-type(7){
                bottom: 30svh;
                right:10svw;
                rotate:25deg;
                scale: 2;
                // filter:blur(1.2px) drop-shadow(-20px 20px 4px #00000020);
            }
            //de
           
            &:nth-of-type(8){
                top: 30svh;
                left:40svw;
                rotate:15deg;
                scale: 1.5;
                // filter:blur(1.5px) drop-shadow(2px 2px 1px #00000050);
            }
           
            //eng
            &:nth-of-type(9){
                top: 30svh;
                left:10svw;
                rotate:-10deg;
                scale: 1.5;
                // filter:blur(0.5px) drop-shadow(20px -5px 5px #00000050);
            }
            //mar
            &:nth-of-type(10){
                top: 30svh;
                right:2svw;
                rotate:24deg;
                // scale: 1;
                // filter:blur(1px) drop-shadow(-20px -5px 5px #00000050);
            }
            //fr
            &:nth-of-type(11){
                top: 35svh;
                right:20svw;
                rotate:-10deg;
                scale: 1;
                // filter:blur(0.8px) drop-shadow(10px 5px 5px #00000050);
            }
            //fr
            /*
            &:nth-of-type(12){
                top: 50svh;
                right:-10svw;
                rotate:25deg;
                scale: 1;
                // filter:blur(0.8px) drop-shadow(10px 5px 5px #00000050);
            }
                */
            &:hover{
                // filter:blur(0px) drop-shadow(0px 0px 3px #00000080);
            }
        }
    }
}