
:root{
    --heading: "aktiv-grotesk", sans-serif;
    --text: "pt-sans-pro", sans-serif;
    --sub-100: #913a13;
    --sub-200: #341208;
    --call-100:#ffe600;
    --call-200:#d3c01a;
    --call-300:#7e7528;
    --light-100: #eeeeee;
    --light-200:#a8a8a8;
    --light-300:#686868;
}